body {
	font-family: Tahoma;
}

h1 {
	font-size: 15px;
}
/*.container {
	width: 800px;
	margin: 0 auto;
}
.container {
    border: dashed 1px #634f36;*/ /* Параметры рамки */
    /*background: #fffff5; /* Цвет фона */
/*    font-family: "Courier New", Courier, monospace; /* Шрифт текста */
/*    padding: 7px; /* Поля вокруг текста */
/*    margin: 0 0 1em; /* Отступы вокруг */
/*}*/
.container {
    width: 800px;
    border: 1px solid black; /* Параметры рамки */
    border-bottom: none; /* Убираем линию снизу */
    padding: 3px; /* Поля вокруг текста */
    display: inline; /* Устанавливаем как встроенный элемент */
    background: #efecdf; /* Цвет фона */
    font-weight: bold; /* Жирное начертание */
    font-size: 90%; /* Размер текста */
    margin: 0; /* Убираем отступы вокруг */
    white-space: nowrap; /* Отменяем переносы текста */
}
.rules {
	margin: 0 10px;
	float: left;
	width: 75px;
}
.rules2 {
	margin: 0 10px;
	float: right;
	width: 75px;
}
.input {
	width: 100%;
	height: 40px;
}
.output {
	margin-top: 10px;
}
.input2 {
	width: 100%;
	height: 40px;
}
.output2 {
	margin-top: 10px;
}
.input3 {
	width: 100%;
	height: 100px;
}
.output3 {
	margin-top: 10px;
}
.lat {
	color: red;
}
.cyr {
	color: green;
}
.nam {
	color: #00BFFF;
}
.one {
    background-color: #ffec82;
}
.two {
    background-color: #c9c9c9;
}
.tri {  
	background-color: #b104ff;
}
.fo {  
	background-color: #296dc3;
}
