body {
	font-family: Tahoma;
}

h1 {
	font-size: 15px;
}
.container {
	width: 750px;
	margin: 0 auto;
}
.rules {
    float: left; /* Обтекание врезки по правому краю */
    width: 100px; /* Ширина врезки */
    background: #fc0; /* Цвет фона */
    padding: 5px; /* Поля вокруг картинки */
    margin: 5px 10px 5px 0; /* Отступы вокруг рисунка */
    border: 1px solid #333; /* Параметры рамки */
   }
.rules2 {
    float: right; /* Обтекание врезки по правому краю */
    width: 100px; /* Ширина врезки */
    background: #fc0; /* Цвет фона */
    padding: 5px; /* Поля вокруг картинки */
    margin: 5px 10px 5px 0; /* Отступы вокруг рисунка */
    border: 1px solid #333; /* Параметры рамки */
   }
/*.rules {
	margin: 0 10px;
	float: left;
	width: 75px;
}
.rules2 {
	margin: 0 10px;
	float: right;
	width: 75px;
}*/
.input {
	width: 100%;
	height: 40px;
}
.output {
	margin-top: 10px;
}
.input2 {
	width: 100%;
	height: 40px;
}
.output2 {
	margin-top: 10px;
}
.input3 {
	width: 100%;
	height: 100px;
}
.output3 {
	margin-top: 10px;
}
.lat {
	color: red;
}
.cyr {
	color: green;
}
.nam {
	color: #00BFFF;
}
.one {
    background-color: #ffec82;
}
.two {
    background-color: #c9c9c9;
}
.tri {  
	background-color: #b104ff;
}
.fo {  
	background-color: #296dc3;
}
