body {
	font-family: Tahoma;
}

h1 {
	font-size: 15px;
}
.container {
	width: 700px;
	margin: 0 auto;
}
.rules {
	float: left;
	width: 75px;
}
.rules2 {
	float: right;
	width: 75px;
}
.input {
	width: 100%;
	height: 50px;
}
.output {
	margin-top: 10px;
}
.input2 {
	width: 100%;
	height: 50px;
}
.output2 {
	margin-top: 10px;
}
.input3 {
	width: 100%;
	height: 100px;
}
.output3 {
	margin-top: 10px;
}
.input4 {
	width: 100%;
	height: 50px;
}
.output4 {
	margin-top: 10px;
}
.lat {
	color: red;
}
.cyr {
	color: green;
}
.nam {
	color: #00BFFF;
}
.one {
	background-color: #ffec82;
}
.two {
	background-color: #c9c9c9;
}
.tri {  
	border:1px solid #d851f4;
}
.fo {  
	background-color: #296dc3;
}
